{% extends '/email/base.html' %}

{% block content %}
      <h2 class="email-greetings">
        <strong>Hi {{ data.username }}!</strong>
      </h2>
      <p class="email-body-content">
        The status of your request on  <strong>{{ data.subject }}</strong> has now been changed to <strong>{{ data.status }}</strong> by <strong>{{ data.assignee }}</strong>. Please log in to Activo for more details.
      </p>
      <a href="https://{{ data.domain }}/" class="button">
        View Details
      </a>
{% endblock %}
